<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="xml2javacode"
            id="xml2javacode">
      </category>
      <view
            name="xml2javacode"
            icon="icons/sample.gif"
            category="xml2javacode"
            class="xml2javacode.views.Xml2JavaCodeView2"
            id="xml2javacode.views.Xml2JavaCodeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="xml2javacode.views.Xml2JavaCodeView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="xml2javacode.contribution1"
            nameFilter="*.xml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="xml2javacode.menu1"
               label="XML to Java Code Menu"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="xml2javacode.popup.actions.CopyXMLFilePath2ViewAction"
               enablesFor="1"
               id="xml2javacode.newAction"
               label="XML to Java Code"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="xml2javacode.commands.category"
            name="xml2javacode">
      </category>
      <command
            categoryId="xml2javacode.commands.category"
            defaultHandler="xml2javacode.handlers.AddFieldJavadocHandler"
            id="xml2javacode.commands.addFieldJavadoc"
            name="Add Field Javadoc">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="xml2javacode.handlers.AddFieldJavadocHandler"
            commandId="xml2javacode.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="xml2javacode.commands.addFieldJavadoc"
               id="xml2javacode.commands.addFieldJavadoc"
               mnemonic="S">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <reference
                        definitionId="xml2javacode.javasourcefile">
                  </reference></with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="xml2javacode.javasourcefile">
         <iterate>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.jdt.core.javaSource">
               </test>
            </adapt>
         </iterate>
      </definition>
   </extension>

</plugin>
