<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="XML转Java"
            id="xml2javacode">
      </category>
      <view
            name="XML转Java"
            icon="icons/sample.gif"
            category="xml2javacode"
            class="xml2javacode.views.Xml2JavaCodeView2"
            id="xml2javacode.views.Xml2JavaCodeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="xml2javacode.views.Xml2JavaCodeView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
