<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="XML转Java"
            id="xml2javacode">
      </category>
      <view
            name="XML转Java"
            icon="icons/sample.gif"
            category="xml2javacode"
            class="xml2javacode.views.Xml2JavaCodeView2"
            id="xml2javacode.views.Xml2JavaCodeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="xml2javacode.views.Xml2JavaCodeView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="xml2javacode.contribution1"
            nameFilter="*.xml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="xml2javacode.menu1"
               label="XML to Java Code Menu"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="xml2javacode.popup.actions.CopyXMLFilePath2ViewAction"
               enablesFor="1"
               id="xml2javacode.newAction"
               label="XML to Java Code"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
